################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HT2024/.vs
/HT2024/out/build/x64-debug
/HT2024/out/build/x64-release
